.subscribed-btn{
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.is-subscribed{
  color: black;
  background-color: rgb(240, 238, 238);
}
button{
  color: blue;
}